body {
    font-family: forma-djr-micro, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.bkg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    flex: 1;
}

.logo-vertical img {
    width: 100%;
}

.logo-vertical {
    margin: 20px;
}

.logo-horizontal {
    display: none;
}

#all-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
}

#saved-runs {
    position: relative;
}

#load-more {
    position: absolute;
    bottom: 0;
    font-size: 1.1em;
    border: none;
    border-radius: 10px;
    width: 12%;
    background-color: #dcd7d5;
    color: #2d2928;
}

.header-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reset-btn, .filter {
    font-family: forma-djr-micro;
    font-size: 17px;
    font-weight: 700;
    background-color: #0a3d28;
    color: #dcd7d5;
    padding: 10px 34px;
    border: none;
    border-radius: 8px;
}

.start {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.start-btn {
    background-color: #dcd7d5;
    color: #0a3d28;
    border-radius: 50%;
    font-size: 50px;
    padding: 13px 24px;
    border: solid #82878f;
}

footer {
    position: sticky;
    bottom: 0;
}

#save-data {
    background-color: #dcd7d5;
    color: #41667a;
    border-radius: 25%;
    font-size: 60px;
    padding: 5px 15px;
    border: solid #82878f;
}

#map {
    height: 510px;
}

#modal-content {
    position: absolute;
    width: 100%;
    left: 10%;
    bottom: 25%;
}

.track-btns {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#modal-wrapper {
    visibility: hidden;
    width: 80%;
    height: 600px;
    position: fixed;
}

#modal-close {
    color: #dcd7d5;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-size: 1.7em;
}

.data-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #0a3d28;
    border-radius: 0 0 8px 8px;
    padding: 10px 0;
    margin-top: -5px;
}

.data-content p {
    display: block;
    padding: 8px 0px;
}

.data-content p a {
    color: #dcd7d5;
    text-decoration: none;
    padding: 15px;
    font-size: 17px;
}

.show {
    display: block;
}

.all-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 0 13px;
    text-align: left;
}

.date {
    padding-left: 10px;
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 8px;
}

p {
    margin: 5px 0 -5px 0;
    color: #2d2928;
}

.label {
    font-size: 14px;
}

.entry {
    margin-bottom: 30px;
    background-color: #dcd7d5;
    border-radius: 10px;
    padding: 14px 0;
}

.new-entry {
    padding: 14px 0;
}

/******* Min-Width 510px ********/

@media(min-width: 510px) {
    .logo-vertical img {
        display: none;
    }

    .logo-horizontal {
        display: block;
        margin-bottom: 30px;
    }

    .logo-horizontal img {
        width: 100%;
    }

    .date {
        font-size: 2em;
    }

    .header-btns {
        margin: 10px 0;
    }
}

/******* Min-Width 540px ********/

@media(min-width: 540px) {
    #modal-content {
        bottom: 31%;
    }
}

/******* Min-Width 650px ********/

@media(min-width: 650px) {
    .logo-horizontal img {
        width: 600px;
        margin: 0 auto;
        display: block;
    }

    .date {
        font-size: 2.1em;
    }

    .all-items {
        font-size: 22px;
    }

    .reset-btn, .filter {
        font-size: 22px;
        padding: 10px 32.7px;
    }

    .entry {
        padding: 8px 15px;
    }

    button.start-btn {
        padding: 19px 32px;
        font-size: 60px;
    }

    #save-data {
        font-size: 63px;
        padding: 12px 23px;
    }

    .data-content p {
        padding: 10px 4.5px;
    }

    #modal-content {
        left: 11.2%;
    }
}

/******* Min-Width 750px ********/
@media(min-width: 750px) {
    .map-wrapper {
        width: 600px;
        margin: 0 auto;
    }
}


/******* Min-Width 1024px ********/
@media(min-width: 1024px) {
    #map {
        height: 450px;
    }

    #modal-content {
        bottom: 48.2%;
    }

    #save-data {
        padding: 5px 15px;
    }
}

/******* Min-Width 1150px ********/
@media(min-width: 1150px) {
    .map-wrapper {
        width: 900px;
    }

    #modal-content {
        bottom: 35%;
    }
}

/******* Min-Width 1600px ********/

@media(min-width: 1600px) {
    .header-btns {
        margin: 0 16%;
    }
}
