body {
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.logo {
    text-align: center;
}

h1 {
    margin: 0;
    font-family: brother-1816, sans-serif;
    font-size: 3.3em;
}

h2 {
    margin: 0;
    font-family: forma-djr-micro, sans-serif;
    font-weight: 400;
    font-size: 3.2em;
}

#all-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

/* #display-runs {
    margin: 0 0 -15px 30px;
} */

/* #display-runs, #saved-runs {
    max-width: 100%;
} */

.header-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.start {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.start-btn {
    /* margin-top: auto; */
    background-color: blue;
    color: white;
    border-radius: 50%;
    font-size: 50px;
    padding: 13px 24px;
    border: none;
}

#save-data {
    background-color: blue;
    color: white;
    border-radius: 25%;
    font-size: 55px;
    padding: 10px 20px;
    border: none;
}

#map {
    height: 550px;
    bottom: 80px;
}

#modal-content {
    position: relative;
    left: 9%;
}

.track-btns {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

/* button {
    margin: 10px 15px 0 0;
} */

#saved-data {
    font-family: sans-serif;
    font-size: 1.1em;
}

#modal-wrapper {
    visibility: hidden;
    width: 80%;
    height: 80%;
    position: fixed;
    /* outline: solid;
    margin-top: 15px; */
}

/* #data-filter {
    position: relative;
    float: right;
} */

.data-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.data-content p {
    display: block;
}

.data-content p a {
    color: black;
    text-decoration: none;
}

.show {
    display: block;
}

.all-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 0 13px;
    text-align: left;
}

.date {
    padding-left: 10px;
}

p {
    margin: 5px 0;
}

.entry {
    margin-bottom: 30px;
}